<ion-view title="Agendar">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <a href="#/buscar">
                <input type="search" placeholder="LOCALIZAÇÃO / SERVIÇOS">
                </a>
            </label>
        </form>



        <img src="img/vjoPoj3Q0ya9joy3ycan_mapa.jpg" width="100%" height="200" style="width: 100%; height: 200px;">


        <div class="card">
            <a href="#/servico" class="item item-divider">
                Salão da Maria ★★★★
            </a>
            <a href="#/servico" class="item item-text-wrap">
                R. Alfa ômega, 145 - Bom Retiro...
            </a>
            <a href="#/servico" class="item item-divider">
                Avaliação Capilar - Corte - Manicure - Pedicure
            </a>
        </div>

        <div class="card">
            <a href="#/servico" class="item item-divider">
                Anderson Cabeleireiros ★★★
            </a>
            <a href="#/servico" class="item item-text-wrap">
                R. Alfa ômega, 145 - Bom Retiro...
            </a>
            <a href="#/servico" class="item item-divider">
                Avaliação Capilar - Corte - Manicure - Pedicure
            </a>
        </div>

        <div class="card">
            <a href="#/servico" class="item item-divider">
                Beauty Specialist ★★★★★
            </a>
            <a href="#/servico" class="item item-text-wrap">
                R. Alfa ômega, 145 - Bom Retiro...
            </a>
            <a href="#/servico" class="item item-divider">
                Avaliação Capilar - Corte - Manicure - Pedicure
            </a>
        </div>


        <ion-list></ion-list>
    </ion-content>
</ion-view>

<!-- <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div> -->
