<ion-view title="Confirmação">
    <ion-content padding="'true'" class="has-header">
        <h3>Salão da Maria</h3>
        <h4>Corte Feminino</h4>
        <button class="button button-stable button-block ">Profissional: Vanessa</button>
        <img src="img/90Nn6SBmRxSN79XAqGZv_perfis.png" width="100%" height="200" style="width: 100%; height: 200px;">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Data</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Hora</span>
                <select></select>
            </label>
        </form>
        <button class="button button-positive button-block  icon-right ion-thumbsup">Agendar</button>
    </ion-content>
</ion-view>