<ion-view title="Serviço">
    <ion-content padding="'true'" class="has-header">
        <h3>Salão da Maria</h3>
        <div class="card">
            <div class="item item-text-wrap">
                Corte Feminino
            </div>
            <div class="item item-divider">
                <span style="color:gray">D S</span>T Q Q S S
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                Manicure
            </div>
            <div class="item item-divider">
                <span style="color:gray">D S T Q Q</span>S S
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                Pedicure
            </div>
            <div class="item item-divider">
                <span style="color:gray">D S T Q Q</span>S S
            </div>
        </div>
    </ion-content>
</ion-view>