<ion-view title="Meus horários">
    <ion-content padding="'true'" class="has-header">
        <div class="card">
            <div class="item item-divider">
                Hoje, às 16hs
            </div>
            <div class="item item-text-wrap">
                <strong>Escova</strong>
                <br>no Salão da Maria
                <br>
                <span style="color:gray">R. Alfa ômega, 145 - Bom Retiro...</span>
            </div>
            <div class="item item-divider">
                Avaliar
                <span style="color:gray">★★★★</span>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Amanhã, às 14hs
            </div>
            <div class="item item-text-wrap">
                <strong>Manicure</strong>
                <br>no Salão da Maria
                <br>
                <span style="color:gray">R. Alfa ômega, 145 - Bom Retiro...</span>
            </div>
            <div class="item item-divider">
                Desmarcar
            </div>
        </div>
    </ion-content>
</ion-view>