<ion-view title="Serviço">
    <ion-content padding="'true'" class="has-header">
        <h3>Salão da Maria</h3>
        <div class="card" style="box-shadow: 0px 0px 14px rgba(245, 126, 253, 1);">
            <a href="#/confirmar" class="item item-text-wrap">
                Corte Feminino
            </a>
            <a href="#/confirmar" class="item item-divider">
                <span style="color:gray">D S</span> T Q Q S S
            </a>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                Manicure
            </div>
            <div class="item item-divider">
                <span style="color:gray">D S T Q Q</span> S S
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                Pedicure
            </div>
            <div class="item item-divider">
                <span style="color:gray">D S T Q Q</span> S S
            </div>
        </div>
    </ion-content>
</ion-view>
